<%sddm = SecureRandom.uuid %>

<ul class="subjmenu" id="<%=sddm%>">
    <li>
        <%m1 = SecureRandom.uuid %>
        <a href="#" onmouseover="mcancelclosetimemenu(),mopen('<%=m1%>')" onmouseout="mclosetimemenu(),mclosetime()"><img class="arrow" border=0 src="/images/arrow_video_down_white_2.png" width="13" height="13"></a>
        <div id="<%=m1%>" onmouseover="mcancelclosetime(),mcancelclosetimemenu()" onmouseout="mclosetime(),mclosetimemenu()">
            <%if relation?(item) %>
                <a class ="all" exp="">(Used by)</a>
                <a class ="all" exp="">(Has values)</a>
            <%else %>
                <a class ="all" exp="findRelations(<%=item%>)" view = "predicate_view">(All Properties)</a>

            <%end %>
        </div>
    </li>
</ul>

<div class = " _WINDOW  select <%=css(item)%>  " id = "<%=item.id%>" set = "" resource="<%=item.id%>" exp="" title="<%= item.id %>" onmouseover="mopenmenu('<%=sddm%>');" onmouseout="mclosetimemenu();">
    <div class ="expand _NO_MINIMIZE">
        <div class ='_collapseproperties' style="float:left;">
            <span class="tool">-<span class="tip">Hide all properties values.</span></span>
        </div>
        <div class= "_expandproperties" style="float:left;">
            <span class="tool">+ <span class="tip">Show the resource properties values</span></span>
        </div>
    </div>    
	
    <%= render_resource(item) %>        
</div>