<div class="_WINDOW window _draggable select set" id = "<%=resourceset.id%>" exp = "Xset.load('<%=resourceset.id%>')">
     <div class= "tranparentpanel" >
        <img src = "/images/loading_big.gif" style="position:absolute; top : 50%;left:43% "/>
    </div>
	<% @style_s = ' style = "background-color:white;" '

    resources =  resources_paginated() 

%>

    <%= render :partial => 'layouts/windowheader', :locals=>{:resourceset => resourceset} %>
	<div class = "_items_area">
		<%= render :partial => 'session/items', :locals=>{:resourceset => resourceset}%>
    </div>
    <div class ="pagination">
    </div>
</div>

<!-- <%if resourceset.size > 1 %>
	<%= javascript_tag do %>
		var set_uri = '<%= resourceset %>'.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/])/g,'\\$1');
		$(set_uri).children('.properties').each(function(n){
	        $(this).hide();
	    });
		$(set_uri).children('._collapseproperties').hide();
	<%end%>
<%else %>
	<%= javascript_tag do %>
		var set_uri = '<%= resourceset %>';
		$(set_uri).children('._expandproperties').hide();
	<%end%>
<%end %>
 -->
<script>

// init_all();
</script>
