<div class="_WINDOW window _draggable select set" id = "<%=resourceset.id%>" exp = "Xset.load('<%=resourceset.id%>')">
     <div class= "tranparentpanel" >
        <img src = "/images/loading_big.gif" style="position:absolute; top : 50%;left:43% "/>
    </div>
	<% @style_s = ' style = "background-color:white;" '

    resources =  resources_paginated() 

%>
	    
	<%= render :partial => 'layouts/windowheader', :locals=>{:resourceset => resourceset} %>
	
	<%
		if render_relations
			items_hash = resourceset.group_by_domain_and_relation
		else
			items_hash = resourceset.each_item
		end
	%>
		<div>
			<input class="search-input form-control" style="width: 100%;">
		</div>

	<div class = "_items_area">
	  <ul set = "<%=resourceset.id%>">
			<% items_hash.each do |item, relations_hash|%>
				
				<li data-jstree='{"type":"<%=icon_type(item)%>"}' set = "<%=resourceset.id%>" class = "<%=item.class.to_s%>" resource="<%=item.to_s%>"><%=item.to_s%>
					<%if render_relations%>
						<%= render :partial => 'session/relation_template_view', :locals=>{:resourceset => resourceset, :relations => relations_hash} %>
					<%else%>
						<ul class = "relations"><li>Relations</li></ul>
					<%end%>
				</li>
			<%end%>			
		</ul>
	</div>

</div>

