<style>
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
</style>
<div class="btn-group">
	
	<div class="btn-group">&nbsp&nbsp</div>
	
	
	<button type="button" id="A" exp="A" operation="union" class="set_operation btn btn-success pull-left operation">&cup;</button>
	<button type="button" id="A" exp="A" operation="intersect" class="set_operation btn btn-success operation">&cap;</button>
	<button type="button" id="A" exp="A" operation="diff" class="set_operation operation btn btn-success">-</button>

	<div class="btn-group">&nbsp&nbsp</div>
	
    <div class="btn-group">
      <button type="button" id="A" exp="A" operation="Rank" class="_rank operation btn btn-success dropdown-toggle" data-toggle="dropdown">
      <%= t :rank%></button>
    </div>
	<div class="btn-group">&nbsp&nbsp</div>
	
    <div class="btn-group" id="pivot_group">
      <button type="button" id="A" exp="A" operation="Pivot" class="_pivot operation btn btn-success"><%= t :pivot%></button>
    </div>
	
	<div class="btn-group">&nbsp&nbsp</div>
	
    <div class="btn-group">
      <button type="button" id="A" exp="A" operation="Group" class="_group operation btn btn-success dropdown-toggle" data-toggle="dropdown">
      <%= t :group%></button>
    </div>
	
	<div class="btn-group">&nbsp&nbsp</div>	
	
	<div class="btn-group">
      <button type="button" id="A" exp="A" operation="Map" class="_map operation btn btn-success dropdown-toggle" data-toggle="dropdown">
      <%= t :map%></button>

	</div>
	
	<div class="btn-group">&nbsp&nbsp</div>
	
	<div class="btn-group">
		<button type="button"  id="A" exp="A" operation="Refine" class="_refine operation btn btn-success">
		<%= t :refine%></button>
	</div>
	
</div>

<button type="button" id="equal" class="_equal btn btn-default ">=</button>
<button type="button" id ="clear" class="_clear btn btn-default"><%= t :clear%></button>
<button type="button" id ="set_delete" class="_clear btn btn-danger"><%= t :delete%></button>
