<!DOCTYPE html>
<html>
<head>
  <title>XPlain</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'wxpair', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'explorator', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<script src="/javascripts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/javascripts/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	
	<script type="text/javascript" src="/javascripts/jshashtable-master/hashtable.js"></script>
    <script type="text/javascript" src="/javascripts/uuid.js"></script>
	<script type="text/javascript" src="/javascripts/xplain_ui.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/explorator_ui.js"></script> -->
	<!-- <script type="text/javascript" src="/javascripts/operations_controller.js"></script> -->
	<script type="text/javascript" src="/javascripts/exploration_operations.js"></script>
    <script type="text/javascript" src="/javascripts/xplain_controller.js"></script>
    <script type="text/javascript" src="/javascripts/explorator_ajax.js"></script>
    <script type="text/javascript" src="/javascripts/explorator_helper.js"></script>
    <script type="text/javascript" src="/javascripts/explorator_controller.js"></script>
	<script type="text/javascript" src="/javascripts/set_controller.js"></script>

	<script type="text/javascript" src="/javascripts/abstract_widgets/widget.js"></script>
	<script type="text/javascript" src="/javascripts/abstract_widgets/set.js"></script>
	<script type="text/javascript" src="/javascripts/abstract_widgets/workspace.js"></script>
	<script type="text/javascript" src="/javascripts/set_view.js"></script>
	<script type="text/javascript" src="/javascripts/jstree_view/jstree_view.js"></script>
	<script type="text/javascript" src="/javascripts/jstree_view/jstree_relation_paths_view.js"></script>
	<script type="text/javascript" src="/javascripts/twgrid_view/grid.js"></script>
	<script type="text/javascript" src="/javascripts/accordion_view/accordion_view.js"></script>
	
	<script type="text/javascript" src="/javascripts/controllers/viewControllers.js"></script>
	
	<script src="/javascripts/jquery-contextmenu-common-master/dist/fixed/jquery.contextMenu.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>
	<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>	
    <script type="text/javascript" src="/javascripts/explorator_querybuilder.js"></script>
	<script type="text/javascript" src="/javascripts/exploration_graph.js"></script>
	

  <%= csrf_meta_tags %>
  <style type="text/css">
 
    #config {
      float:left;
      width: 400px;
      height: 600px;
    }
  </style>
</head>

<body>	
	<div>
		<%= render :partial => '/layouts/loading' %>
		<%= render :partial => 'layouts/search_bar' %>
		<div id="current_session" style="position: absolute;top: 37px;">
			
			<span style="color: mediumblue;font-weight: 600;">Current Session: <%= session[:current_session].title%></span>
		</div>
		<%= render :partial => 'layouts/landmarks'%>

		<div id="exploration_area" style="position: fixed;top: 91px;overflow: auto;width: 100%;height:76%;">	
			<%= render :partial => 'session/graph_div' %>
		</div>
	


		<div id="node-popUp">
		  <span id="node-operation">node</span> <br>
		  <table style="margin:auto;">
		    <tr>
		      <td>id</td><td><input id="node-id" value="new value" /></td>
		    </tr>
		    <tr>
		      <td>label</td><td><input id="node-label" value="new value" /></td>
		    </tr>
		  </table>
		  <input type="button" value="save" id="node-saveButton" />
		  <input type="button" value="cancel" id="node-cancelButton" />
		</div>
		
		<!-- LOADING OPERATIONS' HIDDEN MODALS -->
		<%= render :partial => 'operations/group'%>
		<%= render :partial => 'operations/map'%>
		<%= render :partial => 'operations/pivot'%>
		<%= render :partial => 'operations/rank'%>
		<%= render :partial => 'operations/refine'%>
		<%= render :partial => 'operations/relation_path'%>

	    <div class="navbar navbar-inverse navbar-fixed-bottom" >
	        <div class="container">
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="namespace_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="overflow: auto; width: 900px">
            <div class="modal-header">
            	<h4 class="modal-title">Namespaces</h4>
            </div>

				
            <div class="modal-body">
				<form class="form-horizontal" id = "function_form">
					<div class="row">
	   					<div class="col-md-2">
   							<input type="text" class="form-control ns-prefix">
						</div>
	   				    
	   				    <div class="col-md-6">
				   			<input type="text" class="form-control ns-uri">
				   		</div>
				   		
	   				    <div class="col-md-1">
				   			<button type="button" class="btn btn-default ns-add-btn">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
				   		</div>
					</div>
   				</form>
			</div>			
		
 		   <div class="modal-footer">
 		       <button type="button" id="save_ns_btn" class="exec btn btn-default" >Save</button>
 	       </div>
			
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="endpoint_modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="overflow: auto; width: 900px">
            <div class="modal-header">
            	<h4 class="modal-title">Endpoint</h4>
            </div>

				
            <div class="modal-body">
				<form class="form-horizontal" id = "function_form">
	   				<div class="form-group">
					  <label for="input_url" class="control-label col-sm-2">Endpoint URL</label>
					  <div class="col-sm-10">
						  <input type="text" class="form-control" id="input_url">
					  </div>
					</div>
					
					<div class="form-group">
					   <label for="input_url" class="control-label col-sm-2">Max Number of Items/Query</label>
					   <div class="col-sm-10">
						   <input type="number" id="max_items" value="2000" min="100" data-bind="value:max_items" />
					   </div>
					</div>  
  
					<div class="form-group" >
						<label class="control-label col-sm-2">HTTP Method</label>
						<div class="col-sm-10">
							<div class="radio">
							  <label><input type="radio" name="http-method" value="get" >GET</label>
							</div>
							<div class="radio">
							  <label><input type="radio" name="http-method" value="post" checked >POST</label>
							</div>
						</div>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input col-sm-2" id="blazegraph_search_idx">
						<label class="form-check-label" for="blazegraph_search_idx">Use Blazegraph Search Index</label>
					</div>
   				</form>
			</div>			
		
 		   <div class="modal-footer">
 		       <button type="button" id="set_endpoint_btn" class="exec btn btn-default" data-dismiss="modal">OK</button>
 	       </div>
			
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</body>

<script>
// $("#rankModal").modal("show");
var data = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }];
$('.values-select').select2({data: data});
$(document).ready(function(){
	$("._WINDOW").hide();
	init_all();


	$("#loadwindow").hide();
	
})
</script>
</html>
