<div class="modal fade" id="facetModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="overflow: auto; width: 900px">
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title"><%=t :select_filters%></h4>
            </div>
           <div class="modal-body">
           	<form class="form-horizontal">
 				 <div class="form-group position">
					 <label><%=t :set_level_filter%> </label>
 	 				 <div class="radio">
					   <label><input type="radio" id="domain" class = "param position_radio_input" param = "position" param_value = "1"><span>Level 1</span></label>
					 </div>
				 </div>

				 <div class="form-group" >

					 <div class="checkbox">
					   <label><input type="checkbox" class="relation_tree_activator param" id="relation_radio"  value = "relation_compare" name="radio_strategy"><%=t :filter_related_items%></label>
					 </div>


				 </div>
				 
				 <div class="form-group" >

					 <div class="checkbox">
					   <label><input type="checkbox" class="relation_tree_activator param" id="cfilter_check"><%=t :define_cfilter%></label>
					 </div>


				 </div>

				<div class = "relation_area form-group">
				</div>
				 <div class="checkbox">
				   <label><input type="checkbox" class="param" id="preview"><%=t :show_preview%></label>
				 </div>

      			 <div class="filters" style="padding: 8px;">
      			 </div>
      			</form>
				<form id= "define_filter_form" class="form-horizontal">
				 <!-- <div class="form-group" id="relation_input" >
				   <label for="relation" class="control-label col-sm-2">Relation</label>
				   <div class="col-sm-10">
					   <input type="text" class="form-control" id="input_relation">
				   </div>
				 </div> -->
					
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="email"><%=t :choose_filter_operator%>:</label>
				    <div class="col-sm-10">
					   <select class="form-control" id="select_comparator">
						   <option value="=">=</option>
					       <option value="<=">&le;</option>
					       <option value="<"><</option>
					       <option value=">">></option>
						   <option value=">=">&ge;</option>
						   
					   </select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="pwd"><%=t :select_filter_item%>:</label>
				    <div class="col-sm-10"> 
					   <select class="form-control values_select">
					     <option value="sm"><a><%=t :select_value%></a></option>
					   </select>
				    </div>
				  </div>
				  <div id="facet_conn">
					<div class="form-group">
						<label for="relation" class="control-label col-sm-2"><%=t :and%></label>
						<div class="col-sm-10">
							<input type="radio" class="param" param="connector" param_value="And" name="conn" checked="checked">
						</div>
					</div>
					<div class="form-group">
						<label for="relation" class="control-label col-sm-2"><%=t :or%></label>
						<div class="col-sm-10">
							<input type="radio" class="param" param="connector" param_value="Or" name="conn">
						</div>
					</div>
					
				</div>
				  
				</form>
				
			<form class="form-horizontal" id = "cfilter_form">
				 <div class="form-group" id="relation_input" >
				   <label for="relation" class="control-label col-sm-2">Name</label>
				   <div class="col-sm-10">
					   <input type="text" class="form-control" id="filter_name">
				   </div>
				 </div>
					
				  <div class="form-group">
					  
				    <label class="control-label col-sm-2" >*Filter Code</label>
				    <div class="col-sm-10">
						<textarea class="form-control" rows="5" id="filter_code_area"></textarea>
				    </div>
				  </div>
			</form>
				<div class="form-group"> 
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="button" id="button_add_filter" class="btn btn-default"><%=t :add_filter%></button>
				    </div>
			  	</div>

				<div id = "refine_help" class="help">
				</div>
			</div>
 		   	<div class="modal-footer">
 		       <button type="button" id="exec" class="exec btn btn-default" data-dismiss="modal"><%= t :go%></button>
			   <button type="button" id="clear" class="clear btn btn-default" data-dismiss="modal"><%= t :clear%></button>
			   <button type="button" id="refine_help_btn" class="btn btn-default help_btn" operation="refine"><%= t :help%></button>
 	       </div>
				
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
